<div class="container">
  <div class="row"><!--header row-->
    <div class="col-xs-12">
      <h1 class="h1-team-schedule">{{vm.currentTeamObject.name}}</h1>
      <h2 class="sub-heading lead">Add a New Game</h2>
      <h2 class="lead alert alert-danger" role="alert" ng-if="vm.message !== ''">{{vm.message}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="vm.addNewGame(vm.newGame)">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME DATE-->
              <label for="in-game-date">Date*</label>
              <input ng-model="vm.date" class="form-control" type="date" name="gameDate" id="in-game-date" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME TIME-->
              <label for="in-game-time">Time*</label>
              <input ng-model="vm.time" class="form-control" type="time" name="gameTime" id="in-game-time" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME LOCATION-->
              <label for="in-game-location">Location*</label>
              <input ng-model="vm.newGame.location" class="form-control" type="text" name="gameLocation" id="in-game-location" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME OPPONENT-->
              <label for="in-game-opponent">Opponent</label>
              <input ng-model="vm.newGame.opponent" class="form-control" type="text" name="gameLocation" id="in-game-opponent" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
              <a href="#team-schedule"><button class="btn btn-danger btn-full-width" type="button" name="allTeams">Cancel</button></a>
          </div>
          <div class="col-xs-6">
            <input class="btn btn-success btn-full-width" type="submit" name="submit" value="Add Game" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
