<div class="container">
  <div class="row"><!--header row-->
    <div class="col-xs-12">
      <h1>{{addGame.currentTeamObject.name}}</h1>
      <p class="lead">Add a New Game</p>
      <h2 class="lead alert alert-danger" role="alert" ng-if="addGame.message !== ''">{{addGame.message}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="addGame.addNewGame(addGame.newGame)">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME DATE-->
              <label for="in-game-date">Date*</label>
              <input ng-model="addGame.date" class="form-control" type="date" name="gameDate" id="in-game-date" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME TIME-->
              <label for="in-game-time">Time*</label>
              <input ng-model="addGame.time" class="form-control" type="time" name="gameTime" id="in-game-time" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME LOCATION-->
              <label for="in-game-location">Location*</label>
              <input ng-model="addGame.newGame.location" class="form-control" type="text" name="gameLocation" id="in-game-location" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group"><!--GAME OPPONENT-->
              <label for="in-game-opponent">Opponent</label>
              <input ng-model="addGame.newGame.opponent" class="form-control" type="text" name="gameLocation" id="in-game-opponent" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-buttons"><!--SUBMIT GAME-->
              <input class="btn btn-success" type="submit" name="submit" value="Add Game to Schedule" />
              <a href="#team-schedule"><button class="btn btn-danger" type="button" name="allTeams">Cancel</button></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
