<div class="container">
  <h1 ng-if="!allTeams.userObject.getFirstName()" id="welcome">Welcome, {{allTeams.userObject.getUsername()}}!</h1>
  <h1 ng-if="allTeams.userObject.getFirstName()" id="welcome">Welcome, {{allTeams.userObject.getFirstName()}}!</h1>
  <h2 class="lead">Your Teams</h2>
  <h2 class="lead alert alert-warning" role="alert" ng-if="allTeams.message !== ''">{{allTeams.message}}</h2>
  <div ng-if="allTeams.message === ''">
    <div ng-repeat="(teamId, teamInfoObject) in allTeams.userObject.getTeamsInfoObject()">
      <button class="btn btn-success" ng-click="allTeams.goToTeamSchedule(teamId, teamInfoObject)">{{teamInfoObject.teamName}}</button>
    </div>
  </div>
  <a href="#create-team"><button class="btn btn-primary" type="button">Create a Team</button></a>
</div>
