<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 ng-if="vm.userObject.firstName" class="welcome-all-teams-top">Welcome,</h1>
      <h1 ng-if="vm.userObject.firstName" class="welcome-all-teams-bottom">{{vm.userObject.firstName}}!</h1>
      <h1 ng-if="!vm.userObject.firstName" class="welcome-all-teams-top">Welcome!</h1>
    </div>
  </div>
  <div class="row" ng-if="vm.userObject.invitesArray.length">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sub-heading lead">Pending Invitations</h2>
        </div>
      </div>
      <div ng-repeat="teamObject in vm.userObject.invitesArray">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn-team btn btn-default" ng-click="vm.acceptInvite(teamObject)">{{teamObject.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sub-heading lead">Your Teams</h2>
      <h2 class="lead alert alert-warning" role="alert" ng-if="vm.message !== ''">{{vm.message}}</h2>
    </div>
  </div>
  <div class="row" ng-if="vm.message === ''">
    <div class="col-xs-12">
      <div ng-repeat="teamObject in vm.userObject.teamsArray">
        <div class="row">
          <div class="col-xs-12">
            <button class="btn-team btn btn-success" ng-click="vm.goToTeamSchedule(teamObject)">{{teamObject.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sub-heading lead">Want to start a new team?</h2>
      <a href="#create-team"><button class="btn btn-primary" type="button">Create a Team</button></a>
    </div>
  </div>
</div>