<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="welcome-home" class="lead">Welcome to TeamMate</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#login"><button class="btn btn-primary" type="button">Login with TeamMate</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#register"><button class="btn btn-success" type="button">Create a TeamMate Login!</button></a>
    </div>
  </div>
</div>