<div class="container"><!--TEAMMATE LOGIN SCREEN-->
  <div class="row"><!--HEADER-->
    <div class="col-xs-12">
      <h1 class="view-heading lead">Login with TeamMate</h1>
      <h2 class="error-message lead alert alert-danger" role="alert" ng-if="login.message !== ''">{{login.message}}</h2>
    </div>
  </div>
  <div class="row"><!--LOGIN FORM-->
    <div class="col-xs-12">
      <form ng-submit="login.loginUser(login.tempUser)">
        <div class="row"><!--EMAIL-->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="in-user-username">E-mail</label>
              <input type="email" ng-model="login.tempUser.username" class="form-control" id="in-user-username"/>
            </div>
          </div>
        </div>
        <div class="row"><!--PASSWORD-->
          <div class="col-xs-12">
            <div class="form-group">
              <label for="in-user-password">Password</label>
              <input type="password" ng-model="login.tempUser.password" class="form-control" id="in-user-password" />
            </div>
          </div>
        </div>
        <div class="row"><!--FORM SUMBITTAL & LINK TO '/register' -->
          <div class="col-xs-12">
            <div class="last form-group">
              <input class="btn btn-primary" type="submit" name="submit" value="Log In" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div><!--end LOGIN FORM row-->
  <div class="row">
    <div class="col-xs-12">
      <a href="#register"><button class="btn btn-success" type="button">Don't have a TeamMate Login yet?</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#home"><button class="btn btn-default" type="button">Home</button></a>
    </div>
  </div>
</div>
