<div class="container">
  <h1 class="lead">Create a TeamTracker Login</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="login.message !== ''">{{login.message}}</h2>
  <form ng-submit="login.registerUser()">
    <div>
        <!-- does for="username" need to be for="login.username" - don't THINK so, but need to research -->
        <label for="username">E-mail:</label>
        <input type="text" ng-model="login.user.username" />
    </div>
    <div>
        <!-- does for="password" need to be for="login.password" - don't THINK so, but need to research -->
        <label for="password">Password:</label>
        <input type="password" ng-model="login.user.password" />
    </div>
    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#home">Already have a TeamTracker Login?</a>
  </form>
</div>
