<div class="container">
  <div class="row"><!--HEADER-->
    <div class="col-xs-12">
      <h1 class="view-heading lead">Create a TeamMate Login</h1>
    </div>
  </div>
  <div class="row" ng-if="vm.message !== ''"><!--CONDITIONAL ERROR MESSAGE-->
    <div class="col-xs-12">
      <h2 class="error-message lead alert alert-danger" role="alert">{{vm.message}}</h2>
    </div>
  </div>
  <div class="row"><!--REGISTRATION FORM-->
    <div class="col-xs-12">
      <form ng-submit="vm.registerUser(vm.tempUser)">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="in-user-username">E-mail:</label>
              <input type="email" ng-model="vm.tempUser.username" class="form-control" id="in-user-username"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="in-user-password">Password:</label>
              <input type="password" ng-model="vm.tempUser.password" class="form-control" id="in-user-password" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="last form-group">
              <input class="btn btn-success" type="submit" name="submit" value="Create Login" />
              <!--<a href="#login">Already have a TeamMate Login?</a>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div><!--end REGISTRATION FORM row-->
  <div class="row">
    <div class="col-xs-12">
      <a href="#login"><button class="btn btn-primary" type="button">Already have a TeamMate Login?</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#home"><button class="btn btn-default" type="button">Home</button></a>
    </div>
  </div>
</div>