<div class="container">
  <h1>{{teamSchedule.currentTeamObject.getName()}}</h1>
  <h2 class="lead">Team Schedule</h2>
  <h2 class="lead alert alert-warning" role="alert" ng-if="!allTeams.userObject.getTeamsArray().length">Your team does not currently have any games scheduled.</h2>
  <!--<div ng-if="allTeams.userObject.getTeamsArray().length">
    <div ng-repeat="teamObject in allTeams.userObject.getTeamsArray()">
      <button class="btn btn-success" ng-click="allTeams.getTeamsGames(teamObject)">{{teamObject.name}}</button>
    </div>
  </div>-->
  <div class="manager-only" ng-if="teamSchedule.userObject.getIsManager()">
    <a href="#add-game"><input class="btn btn-success" type="button" value="Add New Game" /></a>
  </div>
</div>
