<div class="container">
  <h1>{{teamSchedule.currentTeamObject.getName()}}</h1>
  <h2 class="lead">Team Schedule</h2>
  <h2 class="lead alert alert-warning" role="alert" ng-if="!teamSchedule.currentTeamObject.getGamesArray().length">Your team does not currently have any games scheduled.</h2>
  <div ng-if="teamSchedule.currentTeamObject.getGamesArray().length">
    <div ng-repeat="gameObject in teamSchedule.currentTeamObject.getGamesArray()">
      <p>{{gameObject}}</p>
    </div>
  </div>
  <div class="manager-only" ng-if="teamSchedule.userObject.getIsManager()">
    <a href="#add-game"><input class="btn btn-success" type="button" value="Add New Game" /></a>
  </div>
</div>
