<div class="container">
  <div class="row"><!--header row-->
    <div class="col-xs-12">
      <h1>{{teamSchedule.currentTeamObject.getName()}}</h1>
    </div>
  </div><!--END header row-->
  <div class="row manager-only" ng-if="teamSchedule.isManager"><!--manager only section-->
    <div class="col-xs-12">
      <div class="row"><!--manager sub-header-->
        <div class="col-xs-12">
          <p class="lead">Manage Your Team</p>
        </div>
      </div>
      <div class="row manager-buttons"><!--manager buttons-->
        <div class="col-xs-12">
          <a href="#add-game"><input class="btn btn-success" type="button" value="Add a Game" /></a>
          <a href="#add-player"><input id="btn-add-player" class="btn btn-primary" type="button" value="Add a Player" /></a>
        </div>
      </div>
    </div>
  </div><!--END manager only section-->
  <div class="row team-schedule"><!--team schedule section-->
    <div class="col-xs-12">
      <div class="row schedule-header">
        <div class="col-xs-12">
          <p class="lead">Upcoming Games</p>
          <h2 class="lead alert alert-warning" ng-if="teamSchedule.message !== ''" role="alert">{{teamSchedule.message}}</h2>
        </div>
      </div>
      <div class="row" ng-if="teamSchedule.currentTeamObject.getGamesArray().length">
        <div class="col-xs-12" ng-repeat="gameObject in teamSchedule.currentTeamObject.getGamesArray()">
          <div class="row game-overview">
            <h4 class="h4-game-date">{{gameObject.getGameDate()}}</h4>
            <p class="game-info">{{gameObject.getGameTime()}} - {{gameObject.getLocation()}}</p>
            <p ng-if="gameObject.getOpponent() !== ''" class="game-opponent">vs. {{gameObject.getOpponent()}}</p>
            <p ng-if="gameObject.getOpponent() === ''" class="game-opponent">vs. TBD</p>
          </div>
        </div><!--END ng-repeat-->
      </div>
    </div>
  </div><!--END team-schedule section-->
</div>
