/* CUSTOM CSS */
.logo {
  font-size: 35px;
}

#btn-header-logout, #btn-header-all-teams {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

#btn-header-all-teams {
  margin-right: 10px;
}

.btn {
  margin-bottom: 20px;
  height: 40px;
}

.h2-team-schedule {
  margin-top: 0px;
}

.game-overview {
  color: #333333;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d6e9c6;
  border-color: #d6e9c6;
}

.h3-game-date {
  margin-top: 0px;
}

.game-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.game-opponent {
  margin-bottom: 0px;
}

/*---CSS THAT CAME WITH PASSPORT INFO---*/
.instructions .container h1 {
  font-size: 24px;
  font-weight: 700;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

/*.container p{
  margin-top : 14px;
}*/

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}
