/* CUSTOM CSS */
.logo {
  font-size: 3em;
}

.header {
  background-color: #333333;
  color: #DDDDDD;
}

.header .container h1 {
  /*font-size: 24px;*/
  font-weight: 700;
}

#btn-header-logout, #btn-header-all-teams {
  text-align: center;
  font-size: 1em;
  padding-left: 0px;
  padding-right: 0px;
  float: right;
  width: 100%;
  height: 2.75em;
  margin-top: .6em;
  margin-bottom: .25em;
}

#header-btn-col-logout {
  padding-left: 10px;
  padding-right: 5px;
}

#header-btn-col-all-teams {
  padding-right: 0px;
}

.view-heading {
  font-size: 2em !important;
  text-align: center;
}

.btn-team, .btn-manager {
  margin-bottom: 1em !important;
}

.btn {
  width: 100%;
  height: 60px;
  margin-bottom: 2em;
  font-size: 1.25em;
}

.error-message {
  margin-top: 0px;
}

.last {
  margin-bottom: 0px;
}

.welcome-all-teams-top, .h1-team-schedule {
  font-size: 2.5em;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.welcome-all-teams-bottom {
  font-size: 2.5em;
  max-width: 100%;
  margin-top: 0px !important;
  margin-bottom: 0px;
  text-align: center;
}

.sub-heading {
  font-size: 2em !important;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-overview {
  color: #333333;
  padding: 15px;
  margin: 0 0 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d6e9c6;
  border-color: #d6e9c6;
}

.h4-game-date {
  margin-top: 0px;
  
}

.game-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.game-opponent {
  margin-bottom: 0px;
}


/*---CSS THAT CAME WITH PASSPORT INFO---*/
/*

.instructions {

}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}*/

/*.container p{
  margin-top : 14px;
}*/
/*
.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}*/
