<div class="instructions" ng-controller="UserController as user">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <span class="logo lead">TeamMate</span>
      </div>
      <div class="col-xs-3">
        <button ng-if="user.currentTeamObject.name" id="btn-header-all-teams" class="btn btn-default" ng-click="user.allTeams()">All Teams</button>
      </div>
      <div class="col-xs-3">
        <button ng-if="user.userObject.username" id="btn-header-logout" class="btn btn-default" ng-click="user.logout()">Log Out</button>
      </div>
    </div>
  </div>
</div>
