<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>TeamMate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/style.css">
        <!-- MOMENT.js -->
        <script type="text/javascript" src="/vendors/moment/moment.js" charset="utf-8"></script>
        <!-- ANGULAR -->
        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
        <!-- APP CONFIG -->
        <script type="text/javascript" src="/scripts/myApp.js"></script>
        <!-- FACTORIES -->
        <script type="text/javascript" src="/scripts/factories/UserService.js"></script>
        <!-- CONTROLLERS -->
        <script type="text/javascript" src="/scripts/controllers/LoginController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/RegisterController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/UserController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/AllTeamsController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/CreateTeamController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/TeamScheduleController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/AddGameController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/AddPlayerController.js"></script>
    </head>
    <body>

      <header ng-include="'/views/partials/header.html'"></header>

      <main ng-view></main>

    </body>
</html>
