<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Team Tracker</title>
        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/style.css">

        <!-- DATA -->
        <!-- constants / things that could be changed/removed once and the whole app would flex accordingly -->
        <!-- SEE MARKET PROJECT FOR EXAMPLES -->
        <!-- <script type="text/javascript" src="scripts/data/settings.js"></script> -->
        <!-- <script type="text/javascript" src="scripts/data/items.js"></script> -->

        <!-- CLASSES -->
        <script type="text/javascript" src="scripts/classes/User.js"></script>
        <!-- SEE MARKET PROJECT FOR EXAMPLES -->
        <!-- <script type="text/javascript" src="scripts/classes/Utilities.js"></script> -->
        <!-- <script type="text/javascript" src="scripts/classes/Player.js"></script> -->
        <!-- <script type="text/javascript" src="scripts/classes/Game.js"></script> -->

        <!-- ANGULAR -->
        <script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
        <!-- APP CONFIG -->
        <script type="text/javascript" src="/scripts/client.js"></script>
        <!-- FACTORIES -->
        <script type="text/javascript" src="/scripts/factories/UserService.js"></script>
        <!-- CONTROLLERS -->
        <script type="text/javascript" src="/scripts/controllers/PlayerController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/LoginController.js"></script>
        <script type="text/javascript" src="/scripts/controllers/UserController.js"></script>
    </head>
    <body>

      <header ng-include="'/views/partials/header.html'"></header>

      <main ng-view></main>

    </body>
</html>
